body {
  margin:0px;
  background-color:rgba(75, 71, 67, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:633px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:149px;
  width:1216px;
  height:633px;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:40px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:740px;
  width:1366px;
  height:40px;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:750px;
  width:73px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:750px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:750px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:750px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:750px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:80px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:780px;
  width:1366px;
  height:80px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:804px;
  width:379px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1546px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1546px;
  height:34px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:146px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:34px;
  width:1216px;
  height:146px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:14px;
  width:181px;
  height:181px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:66px;
  width:1px;
  height:37px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:0px;
  width:183px;
  height:54px;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Bold', '方正舒体 Regular', '方正舒体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#B9B749;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:66px;
  width:307px;
  height:94px;
  font-family:'方正舒体 Bold', '方正舒体 Regular', '方正舒体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#B9B749;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u1357 {
  position:absolute;
  left:126px;
  top:180px;
}
#u1357_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  background-image:none;
}
#u1357_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1357_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  visibility:hidden;
  background-image:none;
}
#u1357_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1357_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  visibility:hidden;
  background-image:none;
}
#u1357_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1357_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  visibility:hidden;
  background-image:none;
}
#u1357_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1357_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  visibility:hidden;
  background-image:none;
}
#u1357_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1357_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:1002px;
  height:43px;
  visibility:hidden;
  background-image:none;
}
#u1357_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
  font-size:16px;
  color:#AEAEAE;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u1440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:359px;
  width:225px;
  height:110px;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
